{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Password Changed - FleetTrack</title>

    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>

<body>

<div class="auth-card">

    <h1>Password Changed Successfully</h1>

    <p>
        Your FleetTrack password has been changed successfully.
    </p>

    <p>
        You can now log in using your new password.
    </p>

    <a href="{% url 'login' %}">
        <button type="button">Go to Login</button>
    </a>

</div>

</body>
</html>